

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #7F7F81;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: black;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
        color:#000080;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #3ABADF;
        
}

a:hover {
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 1000px;
	height: 300px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 60px;
	margin: 0;
	padding: 160px 0px 0px 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 30px;
	letter-spacing: -1px;
	text-shadow: #728927 -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 64px;
}

#logo p {
	margin: 0;
	padding: 30px 0 0 34px;
	text-shadow: #728927 -1px 1px 2px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}



/* Menu */

#menu {
	width: 1000px;
	height: 61px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img02.jpg) repeat-x left bottom;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 48px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 41px;
	margin-right: 1px;
	padding: 20px 20px 0px 20px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: #7E0044 -1px 1px 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	background: url(images/img03.jpg) repeat-x left top;
	text-shadow: #43206B -1px 1px 2px;
}

#menu a:hover {
	background: url(images/img03.jpg) repeat-x left top;
	text-decoration: none;
}

#splash {
	width: 1000px;
	height: 260px;
	margin: 0px auto;
	background: url(images/img05.jpg) no-repeat left top;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);



body {
  background-color:white;
}

.field {
  display:flex;
  
  
  width:90%;
  flex-direction:row;
  margin-left: 50px;
  margin: 10cm 2cm 2cm 1,5cm;
  box-shadow:

   1px 1px 0 rgb(23, 65, 176),
   2px 2px 0 rgb(23, 65, 176),
   3px 3px 0 rgb(23, 65, 176),
   4px 4px 0 rgb(23, 65, 176),
   5px 5px 0 rgb(23, 65, 176),
   6px 6px 0 rgb(23, 65, 176),
   7px 7px 0 rgb(23, 65, 176)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(23, 65, 176);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(23, 65, 176);
  color:white;
  border:none;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #1741B0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2F7AB0;
}

#agregarT {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #1741B0;
    text-align: left;
    color:white;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #1741B0;
}


#all{
    background-color: white;
    
}